
.create-next {
  display: inline-block !important;
  width: 26% !important;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
}

.create-next label {
  text-overflow: ellipsis;
  overflow: hidden;
}